* {
  scroll-padding-top: 40px;
  scroll-behavior: smooth;
}

nav {
  background-color: red;
  width: fit-content;
  padding: 20px;

  position: sticky;
  top: 0px;
  left: 100%;
}

nav a {
  padding: 10px;
}
